{
  "tabWidth": 2,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "trailingComma": "es5"
      }
    }
  ]
}
