.result-item {
  display: flex;

  div:first-child {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-info {
    display: flex;
    width: 100px;
    flex-grow: 1;
    cursor: pointer;

    p:first-child {
      width: 35px;
      text-align: center;
    }

    p:last-child {
      width: 70px;
      text-align: left;
    }
  }
}
